/* *****************************************************************
 * Preloader
 * ************************************************************** */

@-webkit-keyframes loader-anim {
    0% { left: -102px }
    100% { left: 102px }
}
@-moz-keyframes loader-anim {
    0% { left: -102px }
    100% { left: 102px }
}
@-ms-keyframes loader-anim {
    0% { left: -102px }
    100% { left: 102px }
}
@-o-keyframes loader-anim {
    0% { left: -102px }
    100% { left: 102px }
}
@keyframes loader-anim {
    0% { left: -102px }
    100% { left: 102px }
}
@-webkit-keyframes blink-text {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.5
    }
    40% {
        opacity: 0.2
    }
    60% {
        opacity: 0.7
    }
    80% {
        opacity: 0.1
    }
    90% {
        opacity: 0.4
    }
}
@-moz-keyframes blink-text {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.5
    }
    40% {
        opacity: 0.2
    }
    60% {
        opacity: 0.7
    }
    80% {
        opacity: 0.1
    }
    90% {
        opacity: 0.4
    }
}
@-ms-keyframes blink-text {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.5
    }
    40% {
        opacity: 0.2
    }
    60% {
        opacity: 0.7
    }
    80% {
        opacity: 0.1
    }
    90% {
        opacity: 0.4
    }
}
@-o-keyframes blink-text {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.5
    }
    40% {
        opacity: 0.2
    }
    60% {
        opacity: 0.7
    }
    80% {
        opacity: 0.1
    }
    90% {
        opacity: 0.4
    }
}
@keyframes blink-text {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.5
    }
    40% {
        opacity: 0.2
    }
    60% {
        opacity: 0.7
    }
    80% {
        opacity: 0.1
    }
    90% {
        opacity: 0.4
    }
}
.preloader {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
}
.loader-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.preloader img {
    width: 250px;
    display: block;
    margin: 0 auto;
}
.preloader h1 {
    text-transform: uppercase;
    font-size: 35px;
    margin: 5px;
    font-weight: 700;
    -webkit-animation: blink-text 1.3s infinite;
    -moz-animation: blink-text 1.3s infinite;
    -ms-animation: blink-text 1.3s infinite;
    -o-animation: blink-text 1.3s infinite;
    animation: blink-text 1.3s infinite;
}
.progress-container {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 2px;
    overflow: hidden;
}
.preloader .progress {
    display: block;
    position: absolute;
    top: 0;
    left: -102px;
    overflow: hidden;
    width: 100px;
    height: 2px;
    background: #00aeff;
    background: -moz-linear-gradient(top, #00aeff 0%, #00e0a4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aeff), color-stop(100%,#00e0a4));
    background: -webkit-linear-gradient(top, #00aeff 0%,#00e0a4 100%);
    background: -o-linear-gradient(top, #00aeff 0%,#00e0a4 100%);
    background: -ms-linear-gradient(top, #00aeff 0%,#00e0a4 100%);
    background: linear-gradient(45deg, #00aeff 0%,#00e0a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeff', endColorstr='#00e0a4',GradientType=0 );
    -webkit-animation: loader-anim 1s 0s infinite;
    -moz-animation: loader-anim 1s 0s infinite;
    -ms-animation: loader-anim 1s 0s infinite;
    -o-animation: loader-anim 1s 0s infinite;
    animation: loader-anim 1s 0s infinite;
}
